@import "tailwindcss";

.ul {
    height: var(--navigation-height);
    @apply flex py-[5px];
}

.ul li {
    @apply h-full;
}

.ul li .link {
    @apply block h-full content-center text-[12px] transition-[text-shadow] duration-300 sm:text-[16px] px-1 sm:px-2.5 rounded-xs hover:[text-shadow:0_0_12px_rgb(88,218,210)] text-primary-light;
}
