@import "tailwindcss";
@import "./utils/css/MainNav.css";
@import "./utils/css/home.css";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #0f172a;
    --primary-light: #30374c;
    --primary-dark: #080d1b;
    --primary-text-accent: #58dad2;
    --primary-text: #8496b6;
    --secondary: #dedede;
    --secondary-light: #ffffff;
    --secondary-dark: #979797;
    --navigation-height: 50px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);
    --color-primary-text-accent: var(--primary-text-accent);
    --color-primary-text: var(--primary-text);
    --color-secondary: var(--secondary);
    --color-secondary-light: var(--secondary-light);
    --color-secondary-dark: var(--secondary-dark);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --navigation-height: var(--navigation-height);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--primary-dark);
    color: var(--primary-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
