@import "tailwindcss";
@import "./utils/css/MainNav.css";
@import "./utils/css/home.css";
@import "./utils/css/about.css";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #58dad2;
    --primary-light: #dbf6f5;
    --primary-dark: #00baab;
    --primary-text: #ffffff;
    --secondary: #0f172a;
    --secondary-light: #30374c;
    --secondary-dark: #080d1b;
    --secondary-text: #7b8383;
    --navigation-height: 50px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);
    --color-primary-text: var(--primary-text);
    --color-secondary: var(--secondary);
    --color-secondary-light: var(--secondary-light);
    --color-secondary-dark: var(--secondary-dark);
    --color-secondary-text: var(--secondary-text);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --navigation-height: var(--navigation-height);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--secondary-dark);
    color: var(--secondary-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

html {
    @apply scroll-smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-secondary-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-secondary-light rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-text;
}
